@namespace tan "tag:textalign.net,2015:ns";
@namespace tei "http://www.tei-c.org/ns/1.0";
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
@namespace xml "http://www.w3.org/XML/1998/namespace";
/* CSS file intended to be used to configure how Wright catalog manuscripts are rendered by oXygen Author */

/* Highlight those elements whose text nodes are targets for editing */
idno,
locus,
rubric,
incipit,
author,
note,
title,
handNote > desc,
additions > p,
item > p,
condition p,
origDate,
origPlace,
change {
    border: 1px green solid;
    background-color: lightyellow;
}

/* labels for elements that are targets for editing */
TEI:before(9),
locus:before(9),
rubric:before(9),
incipit:before(9),
author:before(9),
note:before(9),
title:before(9),
handNote > desc:before(9),
origDate:before(9),
origPlace:before(9),
change:before(9) {
    content: oxy_local-name() ' ';
}
/* exceptions to the general label rule above */
TEI:before(9) {
    content: 'Wright manuscript metadata '
}
additions:before(9) {
    content: 'notes on additions: '
}
msIdentifier > idno:before(9) {
    content: 'manuscript ID: '
}
altIdentifier > idno:before(9) {
    content: 'alternate ID: '
}
msContents:before(9) {
    content: 'MANUSCRIPT CONTENTS \A';
}
msItem:before(9) {
    content: 'MANUSCRIPT ITEM \A';
}
physDesc:before(9) {
    content: 'MANUSCRIPT PHYSICAL DESCRIPTION \A';
}
history:before(9) {
    content: 'MANUSCRIPT HISTORY \A';
}


/* BACKGROUND */
sourceDesc {
    background: ghostwhite
}

/* BORDERS */
msContents,
msItem,
physDesc,
history {
    border: 2px black solid;
    background-color: white;

}

/* COLORS */
oxy|entity[name ^= '#'] {
    background-color: green;
}
oxy|comment {
    background-color: lightgray;
}
*:before(9) {
    color: gray
}
*:before(8),
*:before(7),
*:before(6) {
    color: darkgreen
}

/* DISPLAY */

* {
    display: block;
}
titleStmt,
summary,
editionStmt,
publicationStmt,
profileDesc,
facsimile,
supportDesc > extent,
layoutDesc,
bindingDesc,
sealDesc,
encodingDesc,
foliation,
collation,
accMat,
body,
text {
    display: none;
}
oxy|processing-instruction {
    display: none !important
}


/* FONTS */
*:lang(syr),
*:lang(syr-Syre),
*:lang(syr-Syrj),
*:lang(syr-Syrn),
*:lang(syr-x-syrm),
*:lang(syr-x-syrp),
*:lang(ar-Syrc),
*:lang(ar-Syrj),
*:lang(ar-Syrn) {
    font-family: noto, 'Serto Urhoy', 'Estrangelo Nisibin';
    text-align: right;
    font-size: 24px;
}
*:lang(cop) {
    font-family: antinoou;
}
*:lang(grc) {
    font-family: 'Gentium Plus', 'Garamond Premiere Pro', 'Gentium Plus', serif;
}

/* MARGINS */
* {
    margin-left: 8px;
}

/* SPECIAL OXYGEN */

msContents:not(msContents:has(msItem)):after(1)
{
    content: 
    oxy_button(
actionID, "append.child.msItem");
}
msItem:last-of-type:after(0) {
    content: 
    oxy_button(
actionID, "append.sibling.msItem");
}

msItem:before(7) {
    background-color: lightyellow;
    content: 
    'defective? ' oxy_checkbox(
edit, "@defective", 
values, "true", 
uncheckedValues, "false");
}
msItem:not(msItem:has(locus)):after(1),
msItem > quote:not(quote:has(locus)):after(1),
msItem > explicit:not(explict:has(locus)):after(1),
msItem > finalRubric:not(finalRubric:has(locus)):after(1)
{
    content: 
    oxy_button(
actionID, "append.child.locus");
}
msItem:not(msItem:has(author)):after(2)
{
    content: 
    oxy_button(
actionID, "append.child.author");
}
msItem:not(msItem:has(title)):after(3)
{
    content: 
    oxy_button(
actionID, "append.child.title");
}
msItem:not(msItem:has(rubric)):after(4)
{
    content: 
    oxy_button(
actionID, "append.child.rubric");
}
msItem:not(msItem:has(incipit)):after(5)
{
    content: 
    oxy_button(
actionID, "append.child.incipit");
}
msItem:not(msItem:has(quote)):after(6)
{
    content: 
    oxy_button(
actionID, "append.child.quote");
}
msItem:not(msItem:has(explicit)):after(7)
{
    content: 
    oxy_button(
actionID, "append.child.explicit");
}
msItem:not(msItem:has(finalRubric)):after(8)
{
    content: 
    oxy_button(
actionID, "append.child.finalRubric");
}
msItem:not(msItem:has(note)):after(9)
{
    content: 
    oxy_button(
actionID, "append.child.note");
}
msItem:not(msItem:has(msItem)):after(10)
{
    content: 
    oxy_button(
actionID, "append.child.msItem");
}
msItem locus:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.locus");
}
msItem author:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.author");
}
msItem title:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.title");
}
msItem rubric:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.rubric");
}
msItem incipit:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.incipit");
}
msItem quote:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.quote");
}
msItem explicit:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.explicit");
}
msItem finalRubric:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.finalRubric");
}
msItem note:last-of-type:after(1) {
    content: 
    oxy_button(
actionID, "append.sibling.note");
}
change[when]:before(8) {
    content: oxy_datePicker(
edit, "@when", 
format, "yyyy-MM-dd")
}
*[href] {
    content: 
    oxy_urlChooser(
edit, "@href", 
columns 25);
}
change[who]:before(7) {
    background-color: lightyellow;
    content: 'who: ' oxy_textfield(
edit, "@who", 
columns, 15
)
}
locus:before(8) {
    background-color: lightyellow;
    content: 'from: ' oxy_textfield(
edit, "@from", 
columns, 15
)
}
locus:before(7) {
    background-color: lightyellow;
    content: ' to: ' oxy_textfield(
edit, "@to", 
columns, 15
)
}
*[ref]:before(8) {
    content: 'ref: ' oxy_textfield(
edit, "@ref", 
columns, 15
)
}
*[xml|lang]:before(7)
{
    background-color: lightyellow;
    content: 'language: ' oxy_combobox(
edit, '@xml:lang', 
editable, false, 
values, 'syr, syr-Syre, syr-Syrj, syr-Syrn, syr-x-syrm, syr-x-syrp, ar-Syrc, ar-Syrj, ar-Syrn, en, ar, fr, de, la, grc, cop', 
labels, 'Unvocalized Syriac of any variety or period, Syriac in Estrangela, Vocalized West Syriac, Vocalized East Syriac, Melkite Syriac, Palestinian Syriac, Unvocalized or Undetermined Arabic Garshuni, Arabic Garshuni in Vocalized West Syriac Script, Arabic Garshuni in Vocalized East Syriac Script, English, Arabic, French, German, Latin, Ancient Greek, Coptic'
)
}
*[mainLang]:before(7)
{
    background-color: lightyellow;
    content: 'language: ' oxy_combobox(
edit, '@mainLang', 
editable, false, 
values, 'syr, syr-Syre, syr-Syrj, syr-Syrn, syr-x-syrm, syr-x-syrp, ar-Syrc, ar-Syrj, ar-Syrn, en, ar, fr, de, la, grc, cop', 
labels, 'Unvocalized Syriac of any variety or period, Syriac in Estrangela, Vocalized West Syriac, Vocalized East Syriac, Melkite Syriac, Palestinian Syriac, Unvocalized or Undetermined Arabic Garshuni, Arabic Garshuni in Vocalized West Syriac Script, Arabic Garshuni in Vocalized East Syriac Script, English, Arabic, French, German, Latin, Ancient Greek, Coptic'
)
}
objectDesc[form]:before(8) {
    background-color: lightyellow;
    content: 'form: ' oxy_textfield(
edit, "@form", 
columns, 15
)
}
supportDesc[material]:before(8) {
    background-color: lightyellow;
    content: 'material: ' oxy_textfield(
edit, "@material", 
columns, 15
)
}
handNote:before(8) {
    background-color: lightyellow;
    content: 'scope: ' oxy_combobox(
edit, '@scope', 
editable, false, 
values, 'sole, major, minor', 
labels, 'sole, major, minor'
)

}
handNote:before(7) {
    background-color: lightyellow;
    content: 'script: ' oxy_combobox(
edit, '@script', 
editable, false, 
values, 'syr-Syre, syr-Syrj, syr-Syrn, syr-x-syrm, syr-x-syrp, ar-Syrc, mixed, unknown', 
labels, 'Estrangela, Jacobite Syriac or Syriac with Greek vowels, Nestorian Syriac or Syriac with pointed vowels, Malkite or Melkite, Palestinian Syriac, Arabic translation in Syriac Characters, mixed, unknown'
)

}
handNote:before(6) {
    background-color: lightyellow;
    content: 'ref: ' oxy_textfield(
edit, "@medium", 
columns, 15
)

}